* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  width: 100vw;
  text-align: center;
  background-color: #fff6f2;
  font-family: 'Quicksand', sans-serif;
}

#slogan {
  background-color: #ffffff;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5vh;
}

.slogan-text {
  padding-top: 35vh;
  padding-left: 10vw;
  color: #025984;
  text-align: left;
  white-space: pre-line;
  font-weight: 700;
}

.symbol-image {
  height: 7vh;
  width: auto;
  position: absolute;
  bottom: 2vh;
  right: 3vw;
}

#main {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.logo-container {
  position: absolute;
  top: 21%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  display: flex;
  justify-content: center;
}

.logo {
  width: 20vh;
}

#information {
  position: absolute;
  margin-top: 30vh;
  width: 100%;
  background-color: #025984;
  height: 57vh;
}

.information-title {
  margin-top: 3.2vh;
  color: #f3c9b8;
  font-weight: 600;
  font-size: 2.7vh;
  margin-bottom: 1vh;
}

.information-contact {
  color: #025984;
  font-size: 2.7vh;
  font-weight: 400;
}

.information-phone {
  text-decoration: none;
  color: #ffffff;
}

.information-address {
  text-decoration: none;
  color: #ffffff;
  top: 1vh;
}

.information-hours {
  color: #ffffff;
  font-size: 2.6vh;
  font-weight: 400;
  margin-bottom: 3vh;
}

.information-hours span {
  font-size: 2.4vh;
  font-style: italic;
}

#menu {
  height: 100vh;
  position: relative;
  width: 100vw;
}

.menu-box {
  height: 40vh;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 100%;
  margin-top: -0.5vh;
}

.menu-text {
  margin-top: 3vh;
  text-align: left;
  width: 80%;
  font-size: 2.3vh;
}

.menu-logo {
  font-size: 3.8vh;
  color: #025984;
  font-weight: 500;
}

.menu-image {
  margin-top: 5%;
  top: 0;
  left: 0;
  height: 50vh;
  width: 100%;
  opacity: 0.9;
  object-fit: cover;
}

.download {
  margin-top: 3vh;
  text-align: center;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
  font-size: 5vh;
  color: #025984;
}

.underline-text {
  text-decoration: underline;
}

.underline-text:hover {
  color: #f3c9b8;
}

#story {
  padding-top: 5vh;
  min-height: 100vh;
  width: 100vw;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #ffffff;
}

.story-box {
  width: 85%;
  margin: 4vh auto 0;
  box-sizing: border-box;
}

.story1 {
  font-size: 4vh;
  color: #025984;
  font-weight: 700;
}

.story2 {
  font-size: 2vh;
}

.story-image {
  height: 50vh;
  width: 100%;
  opacity: 0.9;
  margin-top: 4vh;
  filter: brightness(120%);
  object-fit: cover;
}

.scrollToTopButton {
  display: none;
  position: fixed;
  bottom: 0px;
  right: 10px;
  padding: 7px;
  font-size: 1.5vh;
  z-index: 1000;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
  border: none;
}

.scrollToTopButton.show {
  display: block;
}

.tree-image {
  height: 4vh;
  margin-bottom: -5px;
}

.top {
  color: #025984;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
}

#footer {
  background-color: #ffffff;
  margin-top: -2vh;
}

.copyright {
  height: 5vh;
  margin-top: 2.3vh;
  font-size: 1.2vh;
  text-align: center;
}

@media (min-width: 1000px) {
  .logo {
    width: 30vh;
  }

  #slogan {
    font-size: 10vh;
  }
  #information {
    margin-top: 38vh;
  }

  .menu-text {
    margin-top: 4vh;
    text-align: center;
    width: 80%;
    font-size: 2vh;
  }

  .download {
    margin-top: 3vh;
  }

  .story-image {
    width: 85%;
    height: 100%;
    display: block;
    margin: 5vh auto;
  }

  .copyright {
    font-size: 1.4vh;
  }
}
